# Homework for module one dock terraform

In [ ]:
import pandas as pd
import pathlib
import requests
from sqlalchemy import create_engine
import psycopg2

## Download required files

In [5]:
# Download the November 2025 green taxi Parquet file
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
local_path = pathlib.Path("green_tripdata_2025-11.parquet")

if not local_path.exists():
    with requests.get(url, stream=True, timeout=30) as r:
        r.raise_for_status()
        with open(local_path, "wb") as f:
            for chunk in r.iter_content(chunk_size=8192):
                if chunk:
                    f.write(chunk)

print(f"File available at: {local_path.resolve()}")

File available at: E:\myprojects\data-engineering-zoomcamp\01-docker-terraform\01-homework\green_tripdata_2025-11.parquet

In [6]:
# Download taxi zone lookup CSV file
zone_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
zone_path = pathlib.Path("taxi_zone_lookup.csv")

if not zone_path.exists():
    with requests.get(zone_url, stream=True, timeout=30) as r:
        r.raise_for_status()
        with open(zone_path, "wb") as f:
            for chunk in r.iter_content(chunk_size=8192):
                if chunk:
                    f.write(chunk)

print(f"Lookup CSV available at: {zone_path.resolve()}")

Lookup CSV available at: E:\myprojects\data-engineering-zoomcamp\01-docker-terraform\01-homework\taxi_zone_lookup.csv

## Read the files

### Green Taxi data in Nov 2025

In [7]:
df_green = pd.read_parquet(
    "green_tripdata_2025-11.parquet",
    engine="pyarrow",
)

In [8]:
df_green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [9]:
df_green.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

### Look up table

In [10]:
df_lookup = pd.read_csv('taxi_zone_lookup.csv')

In [11]:
df_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## Injection

In [14]:
# Connection parameters from your docker-compose
DATABASE_URL = 'postgresql://root:root@localhost:5430/ny_taxi'
engine = create_engine(DATABASE_URL, echo=False)

# Use engine directly with to_sql
df_green.to_sql(name='green_taxi_trips', 
                con=engine, 
                if_exists='replace', 
                index=False)
print(f"Inserted {len(df_green)} rows into 'green_taxi_trips' table")

df_lookup.to_sql(name='taxi_zone_lookup', 
                 con=engine, 
                 if_exists='replace', 
                 index=False)
print(f"Inserted {len(df_lookup)} rows into 'taxi_zone_lookup' table")

print("Data injection complete!")

Inserted 46912 rows into 'green_taxi_trips' table
Inserted 265 rows into 'taxi_zone_lookup' table
Data injection complete!

## Answer for question 3-6

### Question 3 Counting short trips

In [21]:
# count how many trips has less than 1 mile distance (SQL version)
query = """
SELECT COUNT(*) AS short_trips_count
FROM green_taxi_trips
WHERE trip_distance <= 1.0
  AND lpep_pickup_datetime < '2025-12-01';
"""

result = pd.read_sql(query, engine)
print(f"Number of trips with less than 1 mile distance: {result['short_trips_count'].iloc[0]}")

Number of trips with less than 1 mile distance: 8007

###  Question 4 Longest trip for each day

In [22]:
# find date with maximum trip distance (SQL version)
query = """
SELECT 
    trip_distance,
    lpep_pickup_datetime,
    DATE(lpep_pickup_datetime) AS pickup_date
FROM green_taxi_trips
WHERE trip_distance < 100
ORDER BY trip_distance DESC
LIMIT 1;
"""

result = pd.read_sql(query, engine)
print(f"Maximum trip distance: {result['trip_distance'].iloc[0]} miles")
print(f"Date with maximum trip distance: {result['pickup_date'].iloc[0]}")

Maximum trip distance: 88.03 miles
Date with maximum trip distance: 2025-11-14

### Question 5 Biggest pickup zone

In [23]:
# find top pickup location by total_amount on 2025-11-18 (SQL version)
query = """
SELECT 
    g."PULocationID",
    SUM(g.total_amount) AS total_sum,
    z."Zone",
    z."Borough"
FROM green_taxi_trips g
LEFT JOIN taxi_zone_lookup z ON g."PULocationID" = z."LocationID"
WHERE DATE(g.lpep_pickup_datetime) = '2025-11-18'
GROUP BY g."PULocationID", z."Zone", z."Borough"
ORDER BY total_sum DESC
LIMIT 1;
"""

result = pd.read_sql(query, engine)
print(f"Top pickup location in total_amount for 2025-11-18 is {result['PULocationID'].iloc[0]}")
print(f"Zone: {result['Zone'].iloc[0]}, Borough: {result['Borough'].iloc[0]}")
print(f"Total amount: ${result['total_sum'].iloc[0]:.2f}")

Top pickup location in total_amount for 2025-11-18 is 74
Zone: East Harlem North, Borough: Manhattan
Total amount: $9281.92

### Question 6 Largest tip

In [24]:
# find drop-off location with largest tip from top pickup location (SQL version)
query = """
SELECT 
    g."DOLocationID",
    g.tip_amount,
    z."Zone",
    z."Borough"
FROM green_taxi_trips g
LEFT JOIN taxi_zone_lookup z ON g."DOLocationID" = z."LocationID"
WHERE g."PULocationID" = 74
ORDER BY g.tip_amount DESC
LIMIT 1;
"""

result = pd.read_sql(query, engine)
print(f"The drop-off location ID for the trip with the largest tip from PULocationID 74 is: {result['DOLocationID'].iloc[0]}")
print(f"Zone: {result['Zone'].iloc[0]}, Borough: {result['Borough'].iloc[0]}")
print(f"Tip amount: ${result['tip_amount'].iloc[0]:.2f}")

The drop-off location ID for the trip with the largest tip from PULocationID 74 is: 263
Zone: Yorkville West, Borough: Manhattan
Tip amount: $81.89